https://seaborn.pydata.org/api.html

### 1. 변수간 상관관계

#### 1) Relational  plots

    relplot
    scatterplot
    lineplot



#### 2) Regression  plots

    lmplot
    regplot
    residplot



### 2. 데이터 분포(Distribution plots)

    displot
    kdeplot
    rugplot



### 3. 범주형 데이터(Categorical plots)

    catplot
    stripplot
    swarmplot
    boxplot
    violinplot
    boxenplot
    pointplot
    barplot
    countplot



### 4. 매트릭스 형태(Matrix plots)

    heatmap
    clustermap



### 5. 여러 개의 그래프를 한번에 그리기(Multi-plot)

    FacetGird
    pairplot
    jointplot

In [22]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="ticks")
# 한글폰트 깨지지 않도록
# plt.rc('font', family='NanumGothic')
# print(plt.rcParams['font.family'])

['NanumGothic']

In [19]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
#total_bill, tip이랑 어떤 관계가 있을까?
#relplot
#scatterplot
#lineplot

In [3]:
# lmplot
# regplot
# residplot

In [10]:
# total_bill의 분포는?
# displot
# kdeplot
# rugplot

In [14]:
# 요일별 매출(total_bill)
# catplot
# stripplot
# swarmplot
# boxplot
# violinplot
# boxenplot
# pointplot
# barplot
# countplot

In [6]:
# heatmap
# clustermap

In [ ]:
# FacetGird
# pairplot
# jointplot